.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

body {
	background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.border-warning {
	border-width:2px !important;
}